*


!cmd/
!env/
!fonts/
!playbooks/
!resources/
!runs/
!.tmux-sessionizer/


!dev-env
!Dockerfile
!fly.toml
!go.mod
!main.go
!run
!tmux-dev-prod
!todo.md
!.dockerignore
!.gitignore
!.index.html

!cmd/**
!env/**
!fonts/**
!playbooks/**
!resources/**
!runs/**
!.tmux-sessionizer/**

