*


!cmd/
!env/
!fonts/
!resources/
!runs/
!.tmux-sessionizer/
!public
!.github/


!dev-env
!Dockerfile
!fly.toml
!go.mod
!main.go
!run
!tmux-dev-prod
!todo.md
!.dockerignore
!.gitignore
!vercel.json

!public/**
!cmd/**
!env/**
!fonts/**
!resources/**
!runs/**
!.tmux-sessionizer/**
!.github/**

